$color-foreground: #111;
$color-background: #fff;

$color-textbox: #a7a7a7;

$color-scrollbar-track: #cfd8dc;
$color-scrollbar-thumb: #90a4ae;

$font-primary: 'Merriweather', serif;
$font-secondary: serif;
